# http://www.gnu.org/software/automake

GNUMakefile.in
config.h.in
Makefile.in
/m4

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config
config.status
config.log

GNUMakefile
config.h

.deps
src/ksi/stamp-h1

libtool

#Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# doxygen generated html and (la)tex files
/doc/html/
/doc/latex/
