changelog merge=union


# Files that are text files. Line endings are normalized when pushed to
# repository. Line endings in working tree are as specified.
*.sh          text eol=lf
*.ac          text eol=lf
*.am          text eol=lf
*.in          text eol=lf
doxyfile      text eol=lf
changelog     text eol=lf
VERSION       text eol=lf
ABI_VERSION   text eol=lf
